// footer
footer {
 width: 100%; 
 margin: 0 auto;
//  @media screen and (min-width: $breakpoint-md){
//   width: 80%;
// };
display: flex;
// justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
}
.footer__grid {
  // padding-left: map-get($spacing, 2);
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // text-align: left;
  @media screen and (min-width: $breakpoint-md){
    flex-direction: row;
  }
}

.footer__item {
  flex: 1 1 auto;
  padding: map-get($spacing, 1);
  width: 100%;
}

.copy {
  width: 90%;
  margin: auto;
  padding: map-get($spacing, 1);
}